extends ./layout/layout

block css
    style.
        #main .layui-container{
            margin-bottom:15px;
            margin-top:76px;
            border-radius:2px;
            background-color:#fff;
            box-shadow:0 1px 2px 0 rgba(0,0,0,.05);
            border:1px solid #fff;
        }
        .article-add{
            padding-top:7.5px;
        }
        .layui-form .layui-form-label{
            width:110px;
            padding:8px 15px;
            height:38px;
            line-height:20px;
            border:1px solid #e6e6e6;
            border-radius:2px 0 0 2px;
            text-align:center;
            background-color:#FBFBFB;
            overflow:hidden;
            white-space:nowrap;
            text-overflow:ellipsis;
            box-sizing:border-box;
        }

        .layui-tab-title{
            margin-bottom:20px;
        }
block contents
    #main
        .layui-container
            .article-add.layui-form
                .layui-tab.layui-tab-brief(lay-filter="user")
                    ul.layui-tab-title
                        li.layui-this 文章编辑
                    #editing.layui-form.layui-form-content
                        .layui-tab-item.layui-show
                            form(action="/article",method="POST")
                                .layui-row.layui-col-space15.layui-form-item
                                    .layui-col-md3
                                        label.layui-form-label 文章分类
                                        .layui-input-block
                                            select(lay-verify="required", name="tips", lay-filter="column")
                                                option
                                                option(value="nodejs") nodejs
                                                option(value="vue") vue
                                                option(value="react") react
                                                option(value="angular") angular
                                    .layui-col-md9
                                        label(for="L_title").layui-form-label 标题
                                        .layui-input-block
                                            input(type="text", name="title" required="", lay-verify="required" autocomplete="off")#L_title.layui-input
                                .layui-form-item.layui-form-text
                                    textarea(style="display: none;")
                                    #article-content   
                    .layui-form-item
                        button(lay-filter="send" lay-submit).layui-btn 立即发布

block scripts
    script(src="/js/add-article.js") 