.blog-panel
    .layui-container
        ul.layui-clear
            li
                a(href="javascript:void(0)") HTML
            li
                a(href="javascript:void(0)") JavaScript
            li
                a(href="javascript:void(0)") Node
            li
                a(href="javascript:void(0)") CSS
            li
                a(href="javascript:void(0)") VUE
        .blog-column-right
            a(href="/article").layui-btn 发表了文章